<div
  #root
  class="device-card"
  [class.dragging]="dragging"
  [style.left.px]="position.x"
  [style.top.px]="position.y"
  (mousedown)="startDrag($event)"
  (click)="onClick($event)"
  (dblclick)="onDblClick($event)"
  (contextmenu)="onRightClick($event)"
>
  <div class="device-type">
    {{ getType() }}
  </div>

  @if (!editing) {
    <div class="device-name">
      {{ getTitle() }}
    </div>
  } @else {
    <input
      class="rename-input"
      [(ngModel)]="editName"
      (click)="$event.stopPropagation()"
      (mousedown)="$event.stopPropagation()"
      (blur)="confirmRename()"
      (keydown.enter)="confirmRename()"
    />
  }
</div>
