<div class="setup-shell">

  <app-workspace
    [userSetups]="userSetups"
    [viewingSetup]="viewingSetup"
    [items]="items"
    (rename)="openRenameFromMenu($event)"
    (roomRenamed)="saveRenamedRoom($event)"
    (deleteSetup)="deleteSetupFromMenu($event)"
    (createSetup)="createNewSetup($event.x,$event.y)"
    [connections]="connections"
    [globalRoomConnections]="globalRoomConnections"
    [loading]="loading"
    [loadingItems]="loadingItems"
    (openSetup)="openSetupDetails($event)"
    (back)="backToSetups()"
    (roomMoved)="onRoomDragEnded($event.setup,$event.pos)">
  </app-workspace>


  <app-setup-dock
    [dockItems]="dockItems"
    (open)="openDockItem($event)">
  </app-setup-dock>

</div>
