<div class="filter-grid" [formGroup]="form">

  <span class="tag">🖥 Computer</span>

  <input class="search-input" placeholder="Brand" formControlName="brand">
  <input class="search-input" placeholder="CPU" formControlName="cpu">
  <input class="search-input" placeholder="GPU" formControlName="gpu">
  <input class="search-input" type="number" placeholder="RAM min" formControlName="ramMin">
  <input class="search-input" type="number" placeholder="Ár min" formControlName="priceMin">
  <input class="search-input" type="number" placeholder="Ár max" formControlName="priceMax">

</div>
