<div class="chat-layout">

  <!-- BAL OLDAL -->
  <div class="chat-list">
    <div
      *ngFor="let c of conversations"
      class="chat-item"
      [class.active]="c.key === activeKey"
      (click)="openConversation(c.key)">
      <div class="title">{{ c.title }}</div>
      <div class="last">{{ c.lastMessage }}</div>
    </div>
  </div>

  <div class="message-page" *ngIf="message">
    <h2 class="title">{{ message.title }}</h2>
    <div class="content"> {{ message.message }} </div>
    <div class="meta">
      <span class="sender"> 👤 {{ message.sender_name }} </span>
      <span class="time"> ⏱ {{ timeAgo(message.created_at) }} </span>
    </div>
  </div>

</div>
