.ht-room{

  width:100%;
  height:500px;

  background:#eee;

  position:relative;
  overflow:hidden;

}

.speaker{

  position:absolute;

  width:100px;
  height:60px;

  background:#888;

  border-radius:10px;

  display:flex;
  align-items:center;
  justify-content:center;

  cursor:move;

  user-select:none;

}
