<div class="usersite-layout">

  <!-- BAL OLDAL: NAV -->
  <aside class="usersite-sidebar">

    <button routerLink="profile" routerLinkActive="active">
      👤 Profile
    </button>

    <button routerLink="messages" routerLinkActive="active">
      💬 Messages
    </button>

    <button routerLink="favorite" routerLinkActive="active">
      ⭐ Favorite
    </button>

    <button routerLink="setup" routerLinkActive="active">
      🧰 Setups
    </button>

    <!-- 🛡 ADMIN – CSAK JOGOSULTAKNAK -->
    <button
      *ngIf="(user$ | async)?.role && ['admin','admin+','owner'].includes((user$ | async)!.role)"
      routerLink="admin"
      routerLinkActive="active"
      class="admin-btn">

      🛡 Admin
    </button>

  </aside>



  <!-- JOBB OLDAL: TARTALOM -->
  <main class="usersite-content">
    <router-outlet></router-outlet>
  </main>

</div>
