<div class="window" cdkDrag [cdkDragBoundary]="boundaryRef" [cdkDragFreeDragPosition]="dragPosition"
  (cdkDragStarted)="focus()" (cdkDragEnded)="onDragEnded($event)" [style.z-index]="zIndex" [style.width.px]="width">

  <div class="window-header" cdkDragHandle>

    <span class="title">
      {{title}}
    </span>

    <div class="window-actions">
      <button (click)="minimize()">—</button>
      <button (click)="toggleMaximize()">□</button>
      <button (click)="close()">✕</button>
    </div>

  </div>

  <div class="window-body">


    <ng-content></ng-content>

  </div>

</div>