<app-context-menu-base [x]="x" [y]="y" (close)="close.emit()">

  <div class="menu-section">

    <button class="menu-item" (click)="$event.stopPropagation(); emitAndClose(openSetup)">
      📂 Megnyitás
    </button>

    <button class="menu-item" (click)="$event.stopPropagation(); emitAndClose(openTools)">
      🧰 Eszközök
    </button>

    <button class="menu-item" (click)="$event.stopPropagation(); emitAndClose(rename)">
      ✏️ Átnevezés
    </button>

    <button class="menu-item" (click)="$event.stopPropagation(); emitAndClose(categoryMenu)">
      🏷️ Típus választása
    </button>

  </div>

  <div class="menu-separator"></div>

  <div class="menu-section">

    <button class="menu-item" (click)="$event.stopPropagation(); connect.emit(); close.emit()">
      Összekötés
    </button>

    <button class="menu-item" (click)="$event.stopPropagation(); emitAndClose(connections)">
      📡 Kapcsolatok
    </button>

  </div>

  <div class="menu-separator"></div>

  <div class="menu-section">

    <button class="menu-item danger" (click)="$event.stopPropagation(); emitAndClose(deleteSetup)">
      🗑 Törlés
    </button>

  </div>

</app-context-menu-base>