.filter-grid {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 10px;
}
@media (max-width: 1024px) {
  .filter-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .carfilter {
    max-width: 100%;
    margin-left: 20px;
  }
}
