<div
  #stage
  class="devices-stage"
  (click)="closeContextMenu(); closeEditing()"
>

  @if (loading) {
    <div class="state-text">Eszközök betöltése...</div>
  } @else if (errorMsg) {
    <div class="state-text error">{{ errorMsg }}</div>
  } @else if (!devices.length) {
    <div class="state-text">Ehhez az elemhez nincs további gyerek elem.</div>
  } @else {
    @for (device of devices; track trackByDevice($index, device)) {
      <app-devices
        [device]="device"
        [dataId]="getDeviceDataId(device)"
        [boundaryEl]="stageEl!"
        [x]="device.x ?? 0"
        [y]="device.y ?? 0"
        [editing]="!!device.__editing"
        (dragEnded)="onDeviceDragEnded($event)"
        (deviceDblClick)="onDeviceDblClick($event)"
        (deviceRightClick)="onDeviceRightClick($event)"
        (renamed)="onDeviceRenamed($event)">
      </app-devices>
    }
  }

  @if (ctxOpen) {
    <div
      class="device-context-menu"
      [style.left.px]="ctxX"
      [style.top.px]="ctxY"
      (click)="$event.stopPropagation()"
    >
      <button type="button" (click)="openDevice(ctxDevice)">📂 Megnyitás</button>
      <button type="button" (click)="renameDevice(ctxDevice)">✏️ Átnevezés</button>
      <button type="button" (click)="deleteDevice(ctxDevice)">🗑️ Törlés</button>
    </div>
  }

</div>
