<app-click-spark
  *ngIf="!setupMode"
  [sparkColor]="'#fff'"
  [sparkSize]="8"
  [sparkRadius]="15"
  [sparkCount]="8"
  [duration]="400">

<app-searchbar></app-searchbar>
  <app-filterlist></app-filterlist>

  <div class="home-row">
    <div class="left">
      <app-productlist
        (openProduct)="onOpenProduct($event)"
        (productsChanged)="onProductsChanged($event)"
        (statsChanged)="onStatsChanged($event)">
      </app-productlist>
    </div>

    <div class="right">
      <app-quick-stats
        [total]="totalAll"
        [pool]="featuredPool.length"
        [chips]="allCategories">
      </app-quick-stats>

      <app-featured-spotlight
        [products]="featuredPool"
        (openProduct)="onOpenProduct($event)">
      </app-featured-spotlight>
    </div>
  </div>

  <app-product-staggered-panel
    [open]="!!selectedProduct"
    [product]="selectedProduct"
    position="right"
    [colors]="['#B19EEF', '#5227FF']"
    (closed)="onClosePanel()">
  </app-product-staggered-panel>

</app-click-spark>
<!-- ...a meglévő home contented -->


