<div class="product-grid" *ngIf="pagedProducts.length > 0">
  <app-product
    *ngFor="let p of pagedProducts"
    [product]="p"
    (openProduct)="onOpenProduct($event)">
  </app-product>
</div>

<p class="muted" *ngIf="filteredProducts.length === 0">
  Nincs találat.
</p>


<div class="pager" *ngIf="filteredProducts.length > PAGE_SIZE">
  <button (click)="prevPage()" [disabled]="page === 1">
    ◀ Prev
  </button>

  <span class="muted">
    {{ page }} / {{ totalPages }}
  </span>

  <button (click)="nextPage()" [disabled]="page === totalPages">
    Next ▶
  </button>
</div>
