:host {
  display: inline-flex;
  align-items: center;
}


:host ::ng-deep .goog-logo-link {
  display: none !important;
}


:host ::ng-deep .goog-te-gadget {
  font-size: 12px;
  color: transparent;
}

:host ::ng-deep .goog-te-gadget span {
  color: #ccc;
}


:host ::ng-deep select {
  background: rgba(255,255,255,0.06);
  color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.18);
  padding: 4px 6px;
}
