<div
  class="product-card"
  draggable="true"
  (click)="open()"
  (dragstart)="onDragStart($event)"
  (dragend)="onDragEnd()">
  <img
    [src]="imageUrl"
    alt="product image"
    class="product-img"
    [attr.loading]="priority ? 'eager' : 'lazy'"
    [attr.fetchpriority]="priority ? 'high' : 'low'"
    (error)="onImageError()"
    decoding="async" />

  <h3>{{ displayName }}</h3>
  <p>{{ product.manufacturer }}</p>

  <p>
    <strong>
      {{ displayPrice !== null ? (displayPrice | number:'1.0-0') + ' Ft' : 'N/A' }}
    </strong>
  </p>
</div>
