<h2>👤 Profil</h2>

<!-- ✅ rang blokk a Profile oldal tetején -->
<app-rank-panel [embedded]="true"></app-rank-panel>

<div class="profile-card">
  <form class="form profile-form" [formGroup]="form">
    <input formControlName="username" placeholder="Username">
    <input formControlName="fullname" placeholder="Teljes név">
    <input formControlName="phone" placeholder="Telefonszám">
    <input formControlName="age" type="number" placeholder="Életkor">
    <input formControlName="city" placeholder="Város">

    <div class="form-actions">
      <button type="button" class="btn" (click)="saveProfile()">
        💾 Mentés
      </button>
    </div>
  </form>
</div>

<div class="profile-card muted">
  <h3>🔐 Jelszó módosítás</h3>

  <form class="form password-form" [formGroup]="passwordForm">
    <input type="password" formControlName="oldPassword" placeholder="Régi jelszó">
    <input type="password" formControlName="newPassword" placeholder="Új jelszó">
    <input type="password" formControlName="confirm" placeholder="Új jelszó újra">

    <div class="form-actions">
      <button type="button" class="btn danger" (click)="changePassword()">
        🔒 Jelszó csere
      </button>
    </div>
  </form>
</div>
