<svg class="connections-svg">
  @if (!viewingSetup) {
    @for (conn of globalRoomConnections; track conn.id) {
      <path
        [attr.d]="getRoomLinePath(conn, lineRefreshTrigger)"
        class="connection-line cross">
      </path>
    }

    @if (pairingStage === 'PICK_TARGET_SETUP' || pairingStage === 'PICK_TARGET_ITEM') {
      <path
        [attr.d]="getGhostLinePath()"
        class="connection-line ghost-line">
      </path>
    }
  } @else {
    @for (conn of connections; track conn.id) {
      @if (!viewingSetup || !conn.crossSetup) {
        <path
          [attr.d]="getLinePath(conn, lineRefreshTrigger)"
          class="connection-line"
          [class.cross]="conn.crossSetup">
        </path>
      }
    }
  }
</svg>
